%clearfix:after {
  content: "";
  display: table;
  clear: both;
}


%theme {
	
	@include margins-sm;
	@include padding-md;
	width: auto;
	border-radius: $border-rd;

}


%btn {
	
	@include margins-md;
	@include padding-md;
	text-transform: uppercase;
	color: $font-color-secondary;
	border: none;

}

