
//Font variables

$font-stack: 'Helvetica', sans-serif;
$font-color: #666666;
$font-color-secondary: #ffffff;
$font-weight-light: 100;
$font-weight-heavy: 900;
$font-weight-normal: 400;
$font-size-standard: 18px;
$font-size-medium: 24px;
$font-size-large: 28px;


// Borders

$border-rd: 6px;
$border-type: 1px solid lightgrey;


// Color variables 

$primary-color: #88E9D1;
$secondary-color: #65E1FD;


// Media variables

$breakpoint-sm: 480px;
$breakpoint-lg: 1400px;

