/* Navigation:
	.nav
    .nav__item
*/


@include mq(small) {
	
	.nav__item {
		
		@include flex;
		@include margins-sm;
		@include padding-lg;
		text-align: center;
		font-size: $font-size-standard;

		& > a {

			color: $font-color;
			text-decoration: none;

		}


		&:first-of-type {
			
			@extend .nav__item;
			border-radius: $border-rd;
			background-color: $primary-color;

			& > a {
				color: $font-color-secondary;
			}

		}


	}

}


@include mq(small) {
	.nav {
	
		@include flex;
	    padding: 0;
	
	}
}

@include mq(large) {
	
	.nav {

		@include flex-row;
		margin-right: 50px;

	}
}









