/* Navigation:
    .nav__item
*/


@include mq(small) {
	
	.nav__item {
		
		@include flex;
		@include margins-sm;
		@include padding-sm;
		text-align: center;
		width: 100%;

		@include modifier(active) {
		@extend .nav__item;
		border-radius: $border-rd;
		background-color: $primary-color;

		& > a {
			color: $font-color-secondary;
		}

		}

	}

}





