// Global styles

* {

	color: $font-color;
	text-decoration: none;

}

@include mq(small) {
	ul {
	
		@include flex;
	    padding: 0;
	    list-style-type: none;
	
	}
}

@include mq(large) {
	ul {

		@include flex-row;

	}
}



p {
	
	font-weight: $font-weight-normal;
	font-size: $font-size-standard;
	line-height: 1.3;

}

