// Global styles

* {

	

}

@include mq(small) {
	ul {
	
		@include flex;
	    padding: 0;
	    list-style-type: none;
	
	}
}

@include mq(large) {
	
	ul {

		@include flex-row;
		margin-right: 50px;

	}
}



p {
	
	@include margins-bg;
	font-weight: $font-weight-normal;
	font-size: $font-size-standard;
	line-height: 1.3;


}

